
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold !important;
    letter-spacing: -1px;
    margin: 0;
    font-size: 3.375rem;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 3.25rem;
    letter-spacing: 0px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: 0px;
}

body{
    background-color: #f1f2f1;
    margin: 0;
}


/* HEADER INDEX */


.header{
    height: 24rem;
    background-image: url(../assets/img/carousel-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.imageLogo {
    display: flex;
    height: 7.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.nav {
    width: 36%;
    margin-right: 3rem;
    margin-top: 2.25rem;
}

header ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.25rem;
}

ul li a:hover {
    font-weight: bold;

    transition: 0.2s;
}

/* BIENVENIDA INDEX */

.bienvenida {
    height: 400px;
    background-color: #1E2D3B;
    border-radius: 0 0 100px 0;
    box-shadow: 5px 5px 10px rgb(143 141 141);
}

.tituloSubrayado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 50%;
    text-shadow: 5px 5px 10px rgb(0 0 0);
}

.bienvenida h1{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-bottom: -3.5rem;
}

.lineaRoja{
    border: 2px solid;
    border-radius: 15px;
    color: #E21F41;
    width: 13rem;
    box-shadow: 5px 5px 10px rgb(0 0 0);
}

.bienvenida h3{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-variant: small-caps;
    text-align: center;
    padding-top: .625rem;
}

/* SERVICIOS INDEX */


.tituloSubrayado2 {
    display: flex;
    height: 12.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 1rem;
}

.nuestrosServicios h2{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    text-shadow: 7px 7px 10px rgb(143 141 141);
}

.nuestrosServicios h2:hover{

    transition: 0.2s;
    text-shadow: 7px 7px 10px rgb(91, 91, 91);
}

.lineaRoja2{
    border: .25rem solid;
    border-radius: .625rem;
    color: #E21F41;
    width: 4rem;
    transform: rotate(90deg);
}

.grid-tarjetas{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 20.5rem);
    grid-template-rows: 27.5rem 27.5rem;
    column-gap: 3rem;
    row-gap: 4.0625rem;
    padding: 1.875rem 0 6.625rem 0;
}

.tarjetasContainer { 
    background-color: white;
    width: 20.5rem;
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 5px 5px 10px rgb(143 141 141);
}

.tarjetasContainer:hover {
    box-shadow: 10px 10px 10px rgb(106, 105, 105);
    transition: 0,2s;
}


.tarjetasContainer h3{
    margin: 0 10%;
    font-size: 1.125rem;
    font-weight: 600;
}
.tarjetasContainer img {
    width: 80%;
    height: 70%;
    margin: 0 10%;
}

.tarjetasContainer button{
    margin-left: 10%;
    height: 2.5rem;
    width: 10.25rem;
    border-radius: 10px;
    background-color: #1E2D3B;
    border: none;
    box-shadow: 5px 5px 7px rgb(143 141 141);
}

.tarjetasContainer a {
    color: white;
    font-size: .9375rem;
    border: none;
    text-decoration: none;
}

.tarjetasContainer a:hover {
    font-weight: bold;
    transition: 0.5s;
}

/* CONFIAN INDEX*/


.confian {
    height: 35rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(143 141 141);
}

.confian .tituloSubrayado{
    height: 40%;
}

.lineaRoja3{
    border: .25rem solid;
    border-radius: 625rem;
    color: #E21F41;
    width: 11rem;
}

.confian h2{
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 10px rgb(143 141 141);
}

.empresas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
    margin-top: 8.125rem;
}

/* FOOTER IDEX */

.footer{
    height: 31.25rem;
    background-color: #1E2D3B;
    display: flex;
    justify-content: space-between;
}

.datos {
    display: flex;
    flex-direction: column;
    margin-left: 2.25rem;
}

.logoFooter{
    width: 25rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.footer p {
    color: white;
    font-size: 1.125rem;
    margin-left: 2.4375rem;
}
.contacto{
    width: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.875rem;
}

.contacto img {
    height: 1.25rem;
    width: 1.25rem;
}

.contacto a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.label {
    display: flex;
    flex-direction: column;
}


/*** PAGINAS SECUNDARIAS ***/

.body2{
    background-color: white;
}

/* HEADER PAGINAS*/

.imageLogo a img {
    display: flex;
    height: 100%;
    margin-left: 1rem;
}

.header2 {
    height: 12rem;
    background-color: #1E2D3B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header2 nav{
    margin-top: 4.25rem;
    width: 30rem;
}

.header2 nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 0;
    padding: 0;
    text-shadow: 6px 6px 5px #0e171f;
}

/*SERVICIOS PAGINAS*/


.servicios {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.servicios .tituloSubrayado2 {
    margin-bottom: 1rem;
}
.servicios h2{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgb(143 141 141);
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

.servicios img {
    width: 30rem;

}

.redes-img{
    height: 28.125rem;
}

.servicios ul {
    height: 411px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.servicios li {
    font-size: 1.5625rem
    
}
.servicios p {
    font-size: 1.5625rem
}

/*FOOTER PAGINAS*/

.footer2 {
height: 8.25rem;
background-color: #1E2D3B;
display: flex;
justify-content: space-evenly;
}

.footer2 p {
    color: white;
    font-size: 1.125rem;
    margin-left: .625rem;
}

.contacto2 {
    width: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto2 img {
    height: 1.25rem;
    width: 1.25rem;
}

.contacto2 a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.formulario{
    height: 20rem;  
    margin-top: 6rem;
    margin-left: 18.75rem;
    position: relative;  
}

.formulario div{
    margin-bottom: 1.25rem;
}

.input{
    width: 25rem;
    height: 3.125rem;
    padding: 0;
    border: none;
    border-radius: .625rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.textArea {
    width: 25rem;
    height: 12.5rem;
    padding: 0;
    border: none;
    border-radius: .75rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.footer button {
    width: 6.25rem;
    height: 2.125rem;
    padding: 0;
    border: none;
    border-radius: .625rem;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 5px rgb(143 141 141);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.position-button{
    position: absolute;
    right: .9375rem;
    bottom: -0.625rem;
}

.footer button:hover {
    background-color: #b7b6b6;
    transition: 0.2s;
}


/****MOBILE****/

/**LAPTOP 1024px**/

@media (max-width: 1024px){

    .nav {
        width: 40%;
    margin-right: 1rem;
    }

    .ul li a {
        font-size: 1.0625rem;
    }

    .bienvenida{
        border-radius: 0 0 80px 0;
    }

    .bienvenida h1 {
        height: 50%;
        margin-bottom: 0.5rem;
    }


    .bienvenida h3 {
        margin: 0;
        font-size: 30px;
    }

    .grid-tarjetas{
        grid-template-columns: repeat(3, 18rem);
        column-gap: 2rem;
    }

    .tarjetasContainer { 
        width: 18rem;
    }

    .formulario{
        margin-left: 4.75rem;
    }

}


/**TABLET 768px**/

@media (max-width: 768px){

    .header{
        height: 20rem;
    }

    .imageLogo{
        height: 6rem;
    }

    .nav{
        margin-right: 1rem;
    }

    nav ul li a {
        font-size: 15px;
    }

    .bienvenida{
        height: 300px;
        border-radius: 0 0 80px 0;
    }

    .bienvenida h1 {
        height: 35%;
        font-size: 2.5rem;
    }

    .lineaRoja{
        width: 9rem;
    }

    .bienvenida h3 {
        font-size: 23px;
    }

    .nuestrosServicios h2{
        font-size: 3rem;
    }

    .grid-tarjetas {
        grid-template-columns: repeat(2, 18rem);
        column-gap: 4rem;
    }

    .confian{
        height: 25rem;
    }
    .confian h2 {
        font-size: 2.5rem;
    }

    .lineaRoja3 {
        border: 3px solid;
        width: 8rem;
    }

    .empresas{
        height: 17%;
        margin-top: 2.125rem;
    }

    .logoFooter {
        width: 20rem;
        margin-top: 5rem;
    }

    .contacto{
        width: 20rem;
    }

    .footer p {
        font-size: 18px;
        margin-left: 1.4375rem;
    }

    .formulario {
        margin-left: -1.25rem;
    }

    .input {
        width: 20rem;
    }

    .textArea {
        width: 20rem;
    }

}

/**MOBILE GRANDE 430px**/

@media (max-width: 430px){

    .header {
        height: 10rem;
    }

    .imageLogo {
        height: 4rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .nav{
        display: none;
    }

    .bienvenida {
        height: 200px;
        border-radius: 0 0 50px 0;
    }
    
    .bienvenida h1 {
        height: 25%;
        font-size: 1.5rem;
    }

    .lineaRoja {
        width: 5rem;
    }

    .bienvenida h3 {
        font-size: 15px;
        width: 80%;
        margin: auto;
        padding-top: 0;
    }

    .bienvenida h3 br {
        display: none;
    }
    
    .nuestrosServicios h2 {
        font-size: 1.5rem;
        margin-left: -1.25rem;
    }


    .lineaRoja2 {
        border: 3px solid;
        width: 2rem;
    }

    .tituloSubrayado2 {
        height: 7.5rem;
        padding-top: 2rem;
    }

    .grid-tarjetas {
        grid-template-columns: repeat(1, 18rem);
    }

    .confian {
        height: auto;
    }
    
    .confian h2 {
        font-size: 1.5rem;
    }

    .lineaRoja3 {
        border: 2px solid;
        width: 6rem;
    }

    .empresas {
        flex-direction: column;
        gap: 3.5rem;
        align-items: center;
        margin: 0;
        padding: 2.5rem;
    }

    .logoEmpresas{
        width: 60%;
    }

    .footer {
        flex-direction: column;
        position: relative; 
        height: 55rem;
    }

    .logoFooter {
        width: 22rem;
    }


    .datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .formulario {
        margin: 0;
        text-align: center;
        height: 340px;
    }

    .position-button{
        right: 4.375rem;
        bottom: 0.625rem;
    }

}

/**MOBILE CHICO 375px**/

@media (max-width: 376px){
    
    .nuestrosServicios h2 {
        font-size: 1.6rem;
    }


    .confian h2 {
        font-size: 1.6rem;
    }
}


/**MOBILE CHICO 320px**/

@media (max-width: 320px){

    .bienvenida {
        height: 180px;
        border-radius: 0 0 50px 0;
    }

    .bienvenida h1{
        font-size: 1.3rem;
    }

    .lineaRoja {
        width: 3.5rem;
    }

    .bienvenida h3 {
        font-size: 12px;
    }

    .lineaRoja2 {
        border: 2px solid;
        width: 1.5rem;
    }

    .nuestrosServicios h2 {
        font-size: 1.3rem;
    }

    .grid-tarjetas{
        grid-template-columns: repeat(1, 16rem);
        row-gap: 1rem;
    }

    .tarjetasContainer { 
        width: 16rem;
        height: 25rem;
    }

    .tarjetasContainer h3 {
        font-size: 1rem;
    }

    .tarjetasContainer button {
        height: 2rem;
        width: 8rem;
    }

    .tarjetasContainer a {
        font-size: 12px;
    }

    .confian h2 {
        font-size: 1.3rem;
    }

    .lineaRoja3 {
        border: 2px solid;
        width: 4rem;
    }

    .logoFooter {
        width: 20rem;
    }
    .contacto{
        width: 15rem;
        
    }

    .contacto img {
        height: 1rem;
        width: 1rem;
    }

    .footer p {
        font-size: 15px;
    }

    .input {
        width: 16rem;
    }

    .textArea {
        width: 16rem;
    }
    
    .footer button {
        width: 5.25rem;
        height: 2rem;
    }
    
    .position-button{
        right: 3.375rem;
    }
}


