* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0px;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold !important;
  letter-spacing: -1px;
  margin: 0;
  font-size: 3.375rem;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 3.25rem;
  letter-spacing: 0px;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 0px;
}

header {
  height: 24rem;
  background-image: url(../assets/img/carousel-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: flex-start;
  gap: none;
}
header img {
  height: 7.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
header nav {
  width: 36%;
  margin-right: 3rem;
  margin-top: 2.25rem;
}
header nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}
header nav a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.25rem;
}
header nav a:hover {
  font-weight: bold;
  transition: 0.2s;
}

.bienvenida {
  height: 400px;
  background-color: #1E2D3B;
  border-radius: 0 0 100px 0;
  box-shadow: 5px 5px 10px rgb(143, 141, 141);
}
.bienvenida div {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 50%;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.bienvenida div h1 {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 100%;
  margin-bottom: -3.5rem;
}
.bienvenida div span {
  border: 2px solid;
  border-radius: 15px;
  color: #E21F41;
  width: 13rem;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.bienvenida h3 {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  font-variant: small-caps;
  text-align: center;
  padding-top: 0.625rem;
}

.tituloSubrayado2 {
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
  padding-top: 1rem;
}
.tituloSubrayado2 h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  color: black;
  font-weight: bold;
  text-shadow: 7px 7px 10px rgb(143, 141, 141);
}
.tituloSubrayado2 h2:hover {
  transition: 0.2s;
  text-shadow: 7px 7px 10px rgb(91, 91, 91);
}
.tituloSubrayado2 h2 span {
  border: 0.25rem solid;
  border-radius: 0.625rem;
  color: #E21F41;
  width: 4rem;
  transform: rotate(90deg);
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.grid-tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 20.5rem);
  column-gap: 3rem;
  row-gap: 4.0625rem;
  justify-content: center;
  padding: 1.875rem 0 6.625rem 0;
}

.confian {
  height: 35rem;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(143, 141, 141);
}
.confian .tituloSubrayado2 {
  height: 40%;
}
.confian .tituloSubrayado2 h2 {
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 5px 5px 10px rgb(143, 141, 141);
}
.confian .tituloSubrayado2 span {
  border: 0.25rem solid;
  border-radius: 625rem;
  color: #E21F41;
  width: 11rem;
}

.empresas {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: none;
  gap: none;
  height: 15%;
  margin-top: 8.125rem;
}

.footer {
  height: 31.25rem;
  background-color: #1E2D3B;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  gap: none;
}
.footer .datos {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  gap: none;
  margin-left: 1.875rem;
  margin-bottom: 4rem;
}
.footer .datos .logoFooter {
  width: 25rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.footer .datos .contacto {
  width: 23.5rem;
  margin-left: 1.875rem;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: flex-start;
  align-items: center;
  gap: none;
}
.footer .datos .contacto a {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: none;
  text-decoration: none;
}
.footer .datos .contacto img {
  height: 1.25rem;
  width: 1.25rem;
}
.footer .datos .contacto p {
  color: white;
  font-size: 1.125rem;
  margin-left: 2.4375rem;
  margin-top: 18px;
  margin-bottom: 18px;
}

.formulario {
  height: 20rem;
  margin-top: 6rem;
  position: relative;
  margin-right: 3.125rem;
}
.formulario div {
  margin-bottom: 1.25rem;
}
.formulario div input {
  width: 25rem;
  height: 3.125rem;
  padding: 0;
  border: none;
  border-radius: 0.625rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}
.formulario div .textArea {
  width: 25rem;
  height: 12.5rem;
  padding: 0;
  border: none;
  border-radius: 0.75rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}
.formulario div .label {
  display: flex;
  flex-direction: column;
}
.formulario button {
  width: 6.25rem;
  height: 2.125rem;
  padding: 0;
  border: none;
  border-radius: 0.625rem;
  background-color: #D9D9D9;
  box-shadow: 2px 2px 5px rgb(143, 141, 141);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  position: absolute;
  right: 0.9375rem;
  bottom: -0.625rem;
}
.formulario button:hover {
  background-color: #b7b6b6;
  transition: 0.2s;
}

.header2 {
  height: 12rem;
  width: 100%;
  background-image: none;
  background-color: #1E2D3B;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: flex-start;
  gap: none;
}
.header2 nav {
  margin-top: 4.25rem;
  width: 30rem;
}
.header2 nav ul {
  list-style: none;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  display: flex;
  margin-block: 0;
  padding: 0;
  text-shadow: 6px 6px 5px #0e171f;
}

/****** PAGINAS SECUNDARIAS ******/
.servicios {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  gap: none;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.servicios h2 {
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgb(143, 141, 141);
  margin-bottom: 1rem;
}
.servicios h2 span {
  border: 0.25rem solid;
  border-radius: 0.625rem;
  color: #E21F41;
  width: 4rem;
  transform: rotate(90deg);
}
.servicios .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  margin: 2rem 0;
}
.servicios .info img {
  width: 30rem;
}
.servicios .info ul {
  height: 411px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  gap: none;
  margin: 0;
  padding: 0;
}
.servicios .info ul p {
  font-size: 1.5625rem;
}
.servicios .info .redes-img {
  height: 28.125rem;
}

.footer2 {
  height: 8.25rem;
  background-color: #1E2D3B;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: none;
  gap: none;
}
.footer2 .contacto2 {
  width: 23.5rem;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
}
.footer2 .contacto2 a {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: none;
  text-decoration: none;
}
.footer2 .contacto2 img {
  height: 1.25rem;
  width: 1.25rem;
}
.footer2 .contacto2 p {
  color: white;
  font-size: 1.125rem;
  margin-left: 0.625rem;
}

.tarjetasContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: none;
  width: 20.5rem;
  height: 27.5rem;
  border-radius: 1.25rem;
  box-shadow: 5px 5px 10px rgb(143, 141, 141);
}
.tarjetasContainer:hover {
  transform: scale(1.03);
  filter: drop-shadow(10px 10px 10px rgb(106, 105, 105));
  transition: 0, 2s;
}
.tarjetasContainer h3 {
  margin: 0 10%;
  font-size: 1.125rem;
  font-weight: 600;
}
.tarjetasContainer img {
  width: 80%;
  height: 70%;
  margin: 0 10%;
}
.tarjetasContainer button {
  margin-left: 10%;
  height: 2.5rem;
  width: 10.25rem;
  border-radius: 10px;
  background-color: #1E2D3B;
  border: none;
  box-shadow: 5px 5px 7px rgb(143, 141, 141);
}
.tarjetasContainer a {
  color: white;
  font-size: 0.9375rem;
  border: none;
  text-decoration: none;
}
.tarjetasContainer:hover {
  font-weight: bold;
  transition: 0.5s;
}

/*******@MEDIA*******/
/**PANTALLA 4K**/
/*INDEX*/
@media (min-width: 1441px) and (max-width: 2561px) {
  header {
    height: 35rem;
  }
  header img {
    height: 11.5rem;
    margin-left: 4rem;
    margin-top: 4rem;
  }
  .nav a {
    font-size: 1.5625rem;
  }
  .nav a:hover {
    font-weight: bold;
    transition: 0.2s;
  }
}
.bienvenida {
  height: 600px;
}
.bienvenida h1 {
  font-size: 4.5rem;
}
.bienvenida h1 span {
  border: 4px solid;
  width: 16rem;
}
.bienvenida h3 {
  font-size: 3.25rem;
}

.tituloSubrayado2 {
  padding: 50px;
}
.tituloSubrayado2 h2 {
  font-size: 65px;
}

/*# sourceMappingURL=style.css.map */
